/* 设置代码字体 */
@font-face {
  font-family: abc;
  src: url("/lib/ttf/CascadiaCode-Regular.ttf");
}
code { font-family: "abc", monospace; }

body {
  font-family: "abc";
  margin: 0 auto;
}

/* markdown 文本区域样式 */
main {
  max-width:800px;
  word-break: break-all;
  word-wrap:break-word;
  margin: 0 auto;
}

img {
  max-width:800px;
}

/* 侧边栏样式 */
#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 50px;
  right: calc(50% + 400px);
/*      background-color: #f0f0f0;*/
}

/* 列表样式 */
#sidebar ul {
  display: none;
  list-style: none;
}

a {
  color:#337AB7;
  text-decoration: none;
}
a:hover {
  color:#23527C;
  text-decoration: underline;
}